.footer{
    background-color:var(--secondary-color);
    color: var(--tertiary-color);
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position:absolute; */
    bottom:0;  
    width: 100%;
    height: 209px; 
}

.footer__logo{
    /* position:absolute; */
    margin-top: 66px;
    width: 122px;
    height: 39.44px;
}

.footer__p{
    font-weight: 500;
    margin-top: 31px;	
    /* position:absolute; */
    /* margin-top: 134px;     */
}
@media screen and (width > 668px) {
    .footer__p{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:668px) {
    .footer__p{
        line-height: 17.11px;
        font-size: 0.75rem;
    }
}
