.accordion-item {
    overflow: hidden;
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
    height: auto;
    max-height: 9999px;
}
  
.accordion-item.collapsed {
    max-height: 0;
    transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}
  
.button {
    font-weight: 500;
    font-size: 1.13rem;
    line-height: 25.67px;
    cursor: pointer;
    color : var(--tertiary-color);
    background-color:var(--primary-color); ;
    padding: 0.5em 1.5em;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.button.small.oval{
    height: 100px;
    width : 150px;    
    border-radius: 50%;
}

.button.big.oval{
    width : 100%; 
    height: 50px;   
    border-radius: 50%;
}

.button.square{
    width: 150px;
    height: 150px;
}
 
.accordion-content {
    padding: 1em 1.5em;    
    background-color: #F6F6F6;
    color : var(--primary-color);
    margin-top: -10px;
}

.big {
    width: 98%;
    font-size: 1.13rem;
    font-weight: 400;
    border-radius: 5px;
}

.medium {
    width: 50%;
    font-size: 1.13rem;
    font-weight: 400;
}

.small {
    width: 25%;
    font-size: 1.13rem;
    font-weight: 400;
}


 
@media screen and (min-width : 800px) {
    .container__collapse{
        margin-bottom : 30px;
        /* padding-right: 109px; */
        /* padding-left: 108px; */
    }

}

@media screen and (width < 800px) {
    .container__collapse{
        margin-bottom : 30px;
      
    }
    .button{
        font-size: 0.82rem;
        line-height: 18.54px;
    }

    .accordion-content {
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 17.11px;
    }

    svg{
        width : 9px;
        height : 15px;
    }

}