/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.container__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 100%;
	padding: 40px 100px 16px 100px;
}
.container__header.smallHeader {
	width: 55%;
}
.header__logo{
	width: 210px;
	height: 68px;
}
.header__logo.smallHeader{
	width: 105px;
	height: 34px;
}
a.link {
	text-decoration:none;
	outline: none;
	color: var(--primary-color);
}
.header__nav__ul{
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.header__nav__ul--li{
	padding-left: 57px;
	margin-top: 17px;
	font-style: normal;	
	font-weight: 500;
	line-height: 34.22px;
	color: var(--primary-color);
}

@media screen and (min-width: 996px) {
	.container__header{
		padding: 40px 100px 16px 100px;
	}
	.header__nav__ul--li{
		font-size: 1.5rem;
	}
}

@media screen and (min-width:668px) and (width < 996px){
	.container__header{
		padding: 25px;
	}
	.header__nav__ul--li{
		font-size: 1.2rem;
	}
}

@media screen and (width < 668px) {
	.container__header {
		padding: 20px;
	}
	.header__logo{
		width: 145px;
		height: 47px;
	}
	.header__nav__ul--li{
		font-size: 0.75rem;
		padding-left: 10px;
	}
	.link {
		text-transform: uppercase;
	}
}