.container__host{
    color: var(--primary-color);
    font-weight: 500;
    display: flex;
    margin-top: 24px;
}
.host__name{
    font-size: 1.13rem;
    line-height: 25.67px;
    text-align: right;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 5px;
}
.host__photo{
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color:#C4C4C4;
}
.host__photo.square{   
    border-radius: 0;
}

@media screen and (max-width : 800px) {
    .container__host{
        margin:0;
    }
    .host__name{
        font-size: 0.75rem;
        line-height: 17.11px;
        text-align: right;
        margin-right: 5px;
        margin-top: 0;
    }
    .host__photo{
        width: 32px;
        height: 32px;
        border-radius: 16px;
        background-color:#C4C4C4;
    }
}