/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.tag__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 5px;
}

.tag__tags{
min-width: 84px;
min-height: 18px;
list-style-type: none;
font-size:0.63rem;
font-weight: 500;
line-height: 14.26px;
margin: 7px 10px 10px 0;
padding: 3px 15px 1px 15px;
text-align: center;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
background-color: var(--primary-color);
border-radius: 5px;
color:var(--tertiary-color);
}
.tag__tags.tagCircle{
    min-width: 115px;
    min-height: 115px;
    border-radius: 50%;
}

@media screen and (min-width : 800px) {
    .tag__tags{
        min-width: 115px;
        height: 1.57rem;
        font-size: 0.88rem;
        border-radius: 10px; 
        padding: 1px 15px 0 15px;   
    }
    .tag__list{
        margin-top: 15px;
    }
}