/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.banner {
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}
.banner__cover {
  background-color: var(--secondary-color);
  border-radius: 10px;
  height: 111px;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
}
.banner__background {
  border-radius: 10px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;    
}
.banner__text {
  color: var(--tertiary-color);
  font-weight: 500;
  position: absolute;
}

@media screen and (max-width : 850px){
  .banner,
  .banner__cover,
  .banner__background {
    width: 100%;
  }
  .banner__background.bannerHome {
    height: 111px;
  }
  .banner__background.bannerAbout, .banner__cover.bannerAbout {
    height:223px;     
  }
  .banner__text {
    font-size: 1.5rem;
    left: 16px;
    top: 31px;
    width: 217px;
    line-height: 24px;
    position: absolute;
  }
}

@media screen and (min-width:850px){
  .banner,
  .banner__cover,
  .banner__background {
    margin-top: 40px;
    width: 100%;
    height: 223px;
    margin-bottom: 60px;
    border-radius: 25px;
  }
  .banner__background {
    -o-object-fit: cover;
      object-fit: cover;
    margin-top: 0px;
  }
  .banner__text {
    font-size: 2rem;
    left: 110px;
    top: 100px;
    width: 635px;
  }
  .banner__cover{
    margin-top: 0;
  }
}

@media screen and (width > 1300px) {
  .banner__text {
    font-size: 3rem;
    left: 260px;
    top: 80px;
    width: 705px;
    line-height: 68.45px;
  }
}