/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.container__carrousel{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    position:relative;
    margin-top: 30px;
}
.arrow-left{
    position:absolute;
    top:40%;
    left:1rem;
    cursor: pointer;
}
.arrow-right{
    position:absolute;
    top:40%;
    right:2rem;
    cursor: pointer;
}
.container_text{
    position: absolute;
    top: 85%;
    left: 45%;
    color : var(--tertiary-color);
    font-size: 1.13rem;
    font-weight: 500;
    line-height: 25.67px;
}
.container_picture{
    height:415px;
    border-radius: 25px;
    -o-object-fit:cover;
       object-fit:cover;
    width: 100%;
}
.container_picture.mediumCarrousel{
    height:200px;
}

@media screen and (width < 887px) {
	.container_picture{
        height:255px;
        border-radius: 10px;        
    }
    .container_picture.mediumCarrousel{
        height:150px;
    }
    .arrow-left,
    .arrow-right {
        width:21.7px;
        height : 29.8px;
    }
}

@media screen and (width < 487px) {
    .arrow-left,
    .arrow-right {
        width:11.7px;
        height : 19.8px;
    }
    .container_text{
        display: none;
    }
    .container__carrousel{
        margin-top: 0px;
    }
}