/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.container__info{
    color: var(--primary-color);
    font-weight: 500;
    margin-top: 24px;
}

.info__title{
    font-size: 2.25rem;    
    line-height: 51.34px;
}
.info__title.mediumInfo{
    font-size: 1.7rem;    
    line-height: 35px;
}
.info__location{
    font-size: 1.13rem;
    line-height: 25.67px;
    margin-top:10px;
}
.info__location.mediumInfo{
    font-size: 1rem;
    line-height: 25px;
}

@media screen and (max-width : 800px) {
    .info__title{
        font-size: 1.13rem;
        line-height: 25.67px;
    }
    .info__location{
        font-size: 0.88rem;
        line-height: 19.96px;
    }
}