/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.container__rate{
    margin-top: 5px;
}
.rate__star {
    height: 15px;
    width: 15px;
}
.rate__star.starBig {
    height: 25px;
    width: 25px;
}
.rate__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width : 800px) {
    .rate__star {
        height: 30px;
        width: 30px;
    }
    .rate__star.starBig {
        height: 80px;
        width: 80px;
    }
    .container__rate{
        margin-top: 24px;
    }
}