.thumb {
    position: relative;
  }
  
  .thumb,
  .thumb__img {
    height: 255px;
    width: 335px;
    margin-left: 5px;
    /* overflow: hidden; */
  }

   
  .thumb__cover {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin-left: 5px;
  }
  
  .thumb__img {
    border-radius: 10px;
    object-fit: cover;
  }
  
  .thumb__text {
    bottom: 20px;
    color: var(--tertiary-color);
    font-size: 1.13rem;
    line-height: 25.67px;
    font-weight: 500;
    left: 20px;
    position: absolute;
    width: 295px;
  }
  
  @media screen and (min-width: 1440px) {
    .thumb,
    .thumb__img {
      height: 340px;
      width: 340px;
    }

    .thumb__text {
        width: 300px;
    }
  }
  